spring.datasource.url=jdbc:postgresql://127.0.0.1:5432/springboot
spring.datasource.username=spring
spring.datasource.password=spring
spring.jpa.generate-ddl=true
spring.thymeleaf.cache=false
spring.thymeleaf.prefix=file:src/main/resources/templates/
application.name=Sigmmix
application.poller.period=10000
bot.token=5555555555:change_me
bot.name=test_bot_change_me