<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
  <head th:replace="~{fragments :: head}"></head>
<body>

  <header th:replace="~{fragments :: header}"></header>

    <div class="container-fluid">
        <div class="row">

            <!-- Leftbar -->
            <div th:replace="~{fragments :: leftbar}"></div>

            <!-- MainBar -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2 mb-2">Хосты</h1>
                    <p class="lead">
                        Создайте хосты, которые нужно мониторить.
                    </p>

                    <div th:if="${errorMessage}" class="alert alert-danger">
                        <!-- Отображение сообщения об ошибке (если есть) -->
                        <strong>Ошибка:</strong> <span th:text="${errorMessage}"></span>
                    </div>

                    <div th:if="${successMessage}" class="alert alert-success">
                        <!-- Отображение сообщения об успешной операции (если есть) -->
                        <strong>Успешно:</strong> <span th:text="${successMessage}"></span>
                    </div>

                    <table class="table table-bordered">
                        <tr class="table-secondary">
                            <th>ID</th>
                            <th>Имя</th>
                            <th>IP-адрсес</th>
                            <th>Класс мониторинга</th>
                            <th>Вкл.</th>
                            <th></th>
                        </tr>
                        <th:block th:if="${#lists.isEmpty(hosts)}">
                            <tr>
                                <td colspan="6">Список хостов ещё пустой</td>
                            </tr>
                        </th:block>
                        <tr th:each="host : ${hosts}">
                            <td class="align-middle" th:text="${host.id}"></td>
                            <td class="align-middle" th:text="${host.hostname}"></td>
                            <td class="align-middle" th:text="${host.ipAddress}"></td>
                            <td class="align-middle" th:text="${host.className}"></td>
                            <td th:if="${host.active}" class="text-center"><a th:href="@{'/edit-host/'+${host.id}+'/disable'}"><i class="bi bi-toggle-on" style="color:green;font-size:2rem;"></i></a></td>
                            <td th:if="${!host.active}" class="text-center"><a th:href="@{'/edit-host/'+${host.id}+'/enable'}"><i class="bi bi-toggle-off" style="color:red;font-size: 2rem;"></i></a></td>
                            <td class="align-middle">
                                <a th:href="@{/edit-host/{id}(id=${host.id})}"><i class="bi bi-pencil-square"></i></a>
                                <a th:href="@{/delete-host/{id}(id=${host.id})}" onclick="return confirm('Вы уверены?')"><i class="bi bi-trash" style="color:#ff000085"></i></a>
                            </td>
                        </tr>
                    </table>
                    <a class="btn btn-secondary" role="button" href="/add-host">Добавить хост</a>
                </div>
            </main>
        </div>
    </div>


<script th:inline="javascript">

    $(document).ready(function() {
        setTimeout(function() {
            $(".alert").fadeOut("slow"); // плавное затухание всех алертов
        }, 3000);
    });

</script>

</body>
</html>
