<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
  <head th:replace="~{fragments :: head}"></head>
<body>

  <header th:replace="~{fragments :: header}"></header>

    <div class="container-fluid">
        <div class="row">

            <!-- Leftbar -->
            <div th:replace="~{fragments :: leftbar}"></div>

            <!-- MainBar -->
            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                <div class="justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2 mb-2">Уведомления</h1>
                    <p class="lead">
                        Настройка рассылки уведомлений по событиям мониторинга
                    </p>

                    <div th:if="${errorMessage}" class="alert alert-danger">
                        <!-- Отображение сообщения об ошибке (если есть) -->
                        <strong>Ошибка:</strong> <span th:text="${errorMessage}"></span>
                    </div>

                    <div th:if="${successMessage}" class="alert alert-success">
                        <!-- Отображение сообщения об успешной операции (если есть) -->
                        <strong>Успешно:</strong> <span th:text="${successMessage}"></span>
                    </div>

                    <table class="table table-bordered">
                        <tr class="table-secondary">
                            <th>ID</th>
                            <th>Хост</th>
                            <th>Пользователь</th>
                            <th>Отслеживаемая метрика</th>
                            <th>Пороговое значение</th>
                            <th>Вкл.</th>
                            <th></th>
                        </tr>
                        <th:block th:if="${#lists.isEmpty(subscriptions)}">
                            <tr>
                                <td colspan="4">Список уведомлений ещё пустой</td>
                            </tr>
                        </th:block>
                        <tr th:each="subscription : ${subscriptions}">
                            <td th:text="${subscription.id}"></td>
                            <td th:text="${subscription.host.ipAddress}"></td>
                            <td th:text="${subscription.user.login} + ' ( telegram_id=' +${subscription.user.telegramId} + ' )'"></td>
                            <td th:text="${subscription.metricaName}"></td>
                            <td th:text="${subscription.thresholdValue}"></td>
                            <td th:if="${subscription.active}" class="text-center"><a th:href="@{'/edit-subscription/'+${subscription.id}+'/disable'}"><i class="bi bi-toggle-on" style="color:green;font-size:2rem;"></i></a></td>
                            <td th:if="${!subscription.active}" class="text-center"><a th:href="@{'/edit-subscription/'+${subscription.id}+'/enable'}"><i class="bi bi-toggle-off" style="color:red;font-size: 2rem;"></i></a></td>
                            <td>
                                <a th:href="@{/edit-subscription/{id}(id=${subscription.id})}"><i class="bi bi-pencil-square"></i></a>
                                <a th:href="@{/delete-subscription/{id}(id=${subscription.id})}" onclick="return confirm('Вы уверены?')"><i class="bi bi-trash" style="color:#ff000085"></i></a>
                            </td>
                        </tr>
                    </table>
                    <a class="btn btn-secondary" role="button" href="/add-subscription">Добавить уведомление</a>
                </div>
            </main>
        </div>
    </div>

  <script th:inline="javascript">

    $(document).ready(function() {
        setTimeout(function() {
            $(".alert").fadeOut("slow"); // плавное затухание всех алертов
        }, 3000);
    });

</script>

</body>
</html>
